<h1>500 Error</h1>

<h3><%= @ex %></h3>

<h4>
<%
case @ex
  when Errno::ECONNREFUSED
    %>
    <ul>
      <li><%= "Gladiator can't access ROMA" %></li>
        <ul>
          <li><%= "Please check your ROMA status" %></li>
          <li><%= "Please check server & port No. of config/config_gui.rb" %></li>
        </ul>
    </ul>
    <%
  else
  
end
%>

</h5>

