<h1>Routing#index</h1>
<p>Find me in app/views/routing/index.html.erb</p>

<div class="col-md-12 routing-information">
  <div class="col-md-6 routing-nodes">
    routing information<br> 
    192.168.223.2_10001<br>
    192.168.223.2_10001<br>
    192.168.223.2_10001<br>
    192.168.223.2_10001<br>
    192.168.223.2_10001<br>
    192.168.223.2_10001<br>
  </div>
  
  <div class="col-md-6 routing-options">
    Options
    enabled_repetition_host_in_routing: true<br>
    enabled_repetition_host(booting option): false<br>
     - rep options is differ!!!!<br>
    lost_action: auto_assign<br>
    digst_bits: 32<br>
    div_bits: 5<br>
    rn: 2<br>
  </div>

  <div class="row">
    <div class="col-md-offset-9 col-md-2 download-button">offset 3</div>
  </div>
</div>


<div class="col-md-12 routing-history">
routing history
  <div class="routing-history-glaph">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>
</div>


