<h1>Cluster#destroy</h1>
<p>Find me in app/views/cluster/destroy.html.erb</p>


<table class="tablesorter"> 
  <thead> 
    <tr> 
      <th>First Name</th> 
      <th>Last Name</th> 
      <th>Age</th> 
      <th>Total</th> 
      <th class="filter-false">Discount</th> <!-- disable filter in this column --> 
      <th>Date</th> 
    </tr> 
  </thead> 
  <tbody> 
    <tr> 
      <td>Philip</td> 
      <td>Johnson</td> 
      <td>25</td> 
      <td>$5.95</td> 
      <td>22%</td> 
      <td>Jun 26, 2004 7:22 AM</td> 
    </tr> 
    <tr> 
      <td>Aaron</td> 
      <td>Hibert</td> 
      <td>12</td> 
      <td>$2.99</td> 
      <td>5%</td> 
      <td>Aug 21, 2009 12:21 PM</td> 
    </tr> 
    <tr> 
      <td>Brandon</td> 
      <td>Henry</td> 
      <td>51</td> 
      <td>$42.29</td> 
      <td>18%</td> 
      <td>Oct 13, 2000 1:15 PM</td> 
    </tr> 
    <tr> 
      <td>Peter</td> 
      <td>Parker</td> 
      <td>28</td> 
      <td>$9.99</td> 
      <td>20%</td> 
      <td>Jul 6, 2006 8:14 AM</td> 
    </tr> 
    <tr> 
      <td>John</td> 
      <td>Hood</td> 
      <td>33</td> 
      <td>$19.99</td> 
      <td>25%</td> 
      <td>Dec 10, 2002 5:14 AM</td> 
    </tr> 
    <tr> 
      <td>Clark</td> 
      <td>Kent</td> 
      <td>18</td> 
      <td>$15.89</td> 
      <td>44%</td> 
      <td>Jan 12, 2003 11:14 AM</td> 
    </tr> 
    <tr> 
      <td>Bruce</td> 
      <td>Almighty</td> 
      <td>45</td> 
      <td>$153.19</td> 
      <td>44%</td> 
      <td>Jan 18, 2001 9:12 AM</td> 
    </tr> 
    <tr> 
      <td>Bruce</td> 
      <td>Evans</td> 
      <td>22</td> 
      <td>$13.19</td> 
      <td>11%</td> 
      <td>Jan 18, 2007 9:12 AM</td> 
    </tr> 
  </tbody> 
</table>


