<h1>Cluster#index</h1>
<p>Find me in app/views/cluster/index.html.erb</p>
<%#= session[:instance] %>
<%#= @routing_list.class %>
<%= @routing_list %>
<br>===================<br>
<%= @stats_hash %>
<br>===================<br>
<%= @each_instance_status %>
<br>===================<br>
<%= @each_instance_size %>
