.basic-information{
    /**background-color: #e8d2d2;**/
    /**padding: 5px;**/
}

/**-----------------------------
  Health button
------------------------------- **/
.health-button {
    padding: 0;
    position: relative;
    display: block;
    /** border: 1px solid rgba(0,0,0,0.5); **/
    border-radius: 100px;
    /**-webkit-box-reflect: 
      below -33px -webkit-gradient(linear, right top, left top, from(rgba(0,0,0,0.1)), to(rgba(0,0,0,0))); **/
}

.health-button.large_size {
    width: 30px;
    height: 30px;
    margin: -5px 0px;
}

.health-button.small_size {
    width: 15px; 
    height: 15px; 
    margin: -3px 0px;
}

.health-button.green {
    background: -moz-radial-gradient(50% 80%, circle, #00f206, #01c014);
    background: -webkit-radial-gradient(50% 80%, circle, #00f206, #01c014);
    box-shadow: 
      0 2px 6px rgba(0,0,0,0.5),
      0 2px 10px rgba(20,254,1, 0.7),
      inset 0 0 5px rgba(12,151,0,0.6);
}

.health-button.yellow {
    background: -moz-radial-gradient(50% 80%, circle, #f2f200, #bcc001);
    background: -webkit-radial-gradient(50% 80%, circle, #f2f200, #bcc001);
    box-shadow: 
      0 2px 6px rgba(0,0,0,0.5),
      0 2px 10px rgba(251,254,1, 0.7),
      inset 0 0 10px rgba(136,151,0,0.6);
}

.health-button.red {
    background: -moz-radial-gradient(50% 80%, circle, #f23600, #c13500);
    background: -webkit-radial-gradient(50% 80%, circle, #f23600, #c13500);
    box-shadow: 
      0 2px 6px rgba(0,0,0,0.5),
      0 2px 10px rgba(255,0,0, 0.7),
      inset 0 0 10px rgba(151,0,0,0.6);
}

.health-button.grey {
    background: -moz-radial-gradient(50% 80%, circle, #a39694, #605553);
    background: -webkit-radial-gradient(50% 80%, circle, #a39694, #605553);
    box-shadow: 
      0 2px 6px rgba(0,0,0,0.5),
      0 2px 10px rgba(0,0,0, 0.7),
      inset 0 0 10px rgba(44,37,43,0.6);
}

.glare {
    position: absolute;
    border-radius: 100px; /** pozition **/
    width: 100%;
    height: 100%;
    background-image: -webkit-linear-gradient(top, rgba(250, 250, 255, 1) 0%, rgba(250, 250, 255, 0.7) 10%, rgba(250, 250, 255, 0) 100%);
    background-image: -moz-linear-gradient(top, rgba(250, 250, 255, 1) 0%, rgba(250, 250, 255, 0.7) 10%, rgba(250, 250, 255, 0) 100%);
    z-index: 7;
}

.glare.large {
    top: -6px; /** pozition **/
    -moz-transform: scale(0.8, 0.6); 
    -webkit-transform: scale(0.8, 0.6); 
}

.glare.small {
    top: -4px; /** pozition **/
}

/**-----------------------------
  Health param
-------------------------------- **/
.basic-columns{
    /**margin-left: 50px;**/
}

.error-instance-small {
    font-size: 12px;
}

.extra-pbar {
    padding-left: 30px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.extra-process {
    background-color: #e8d2d2;
}

.status-caution {
    color: red;
    padding-left: 20px;
}

/**-----------------------------
  Tables 
-------------------------------- **/
.instances-information{
    background-color: #e8d2d2;
    border: 1px solid #ddd;
    padding: 5px;
    margin-top: 20px;
}

.join-function{
    background-color: #e8d2d2;
    border: 1px solid #ddd;
    padding: 5px;
    margin-top: 20px
}

.table.table-bordered.result-table th{
   background-color: #cccccc;
}

.instance-table {
    background-color: #ffffff;
    margin: 10px;
}

td.instance-status-column {
    width: 100px;
}

td.progress-bar-column {
    width: 300px;
}

button.reset {
    margin-left: 10px;
}

.tablesorter-default .tablesorter-filter {
    margin: -5px;
}

/**-----------------------------------------
  table sorter
-------------------------------------------- **/
.tablesorter-default {
    font: 15px/18px Arial, Sans-serif;
}

.tablesorter-default thead .tablesorter-headerAsc {
    border-bottom: #428bca 2px solid;
}

.tablesorter-default thead .tablesorter-headerDesc {
    border-bottom: #428bca 2px solid;
}

.tablesorter .tablesorter-filter.disabled {
    display:none;
}

/**----------------------------------------
  btn
------------------------------------------- **/
.btn {
    margin-top: -5px;
    margin-bottom: -5px;
    padding: 3px 12px;
}

.instance-table td {
    text-align: center;
    vertical-align: middle;
}

.status-panel {
    font-size: 22px;
    color: #ffffff;
    text-align: center;
}

.status-panel td {
    border: 3px #f9f3f3 solid;
    width: 220px;
    height: 100px;
    vertical-align: top;
}

.status-panel .panel-instance, .panel-roma-version, .panel-lost-vnodes {
    background-color: #dc8383;
}

.status-panel .panel-server, .panel-short-vnodes, .panel-gladiator-version {
    background-color: #D15959;
}

.status-panel .panel-short-vnodes-error {
    background-color: #D15959;
}

.status-panel .panel-value {
    display: table-cell;
    vertical-align: middle;
    width: 220px;
    height: 60px;
    font-size: 26px;
}

#short-vnodes-cnt {
	font-size: 40px;
}

#short-vnodes-alert {
	 color: #FFFF00;
	 font-size: 30px;
}

#short-vnodes-caution {
	 color: #FFFF00;
	 font-size: 15px;
}

#lost-vnodes-char {
	font-size: 40px;
}

#lost-vnodes-alert {
	 color: #FF0000;
	 font-size: 30px;
}

#lost-vnodes-caution {
	 color: #FF0000;
	 font-size: 15px;
}

.reset-filter {
	margin: 5px 10px 3px;
}

/**---------------------------------------------
  Modal
------------------------------------------------**/
.modal-recover-body {
    font-size: 16px;
    margin-top: 10px;
    margin-left: 50px;
}

.modal-recover-body .modal-explanation-detail {
    margin-left: 30px;
}
