html, body {
  height: 100%;
}

.main .container  {
  width: auto;
}

#wrap {
  min-height: 100%;
  height: auto;
  height: 100%;
  margin: 0 auto -50px;
  padding: 0 0 50px;
}

#param-detail-list {
	margin-bottom: 100px;
}

#footer {
  height: 50px;
  background-color: #a62316;
}

#footer .container p {
  text-align: center;
  padding-top: 15px;
}
