html, body {
  height: 100%;
  font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color:#5d5d5d;
}

.wrap-main .container {
  width: auto;
}

.wrap-main {
  min-height: 100%;
  height: auto;
  height: 100%;
  margin: 0 auto -50px;
}

.header-subtitle {
  font-size: 18px;
}

.param-detail-list {
  margin-bottom: 100px;
}

#wrap-without-footer {
  min-height: 100%;
  height: auto;
  margin: 0 auto -50px;
  padding: 0 0 50px;
  min-width: 1275px;
}

#footer {
  height: 50px;
  clear: both;
  background-color: #a62316;
  color: #ffffff;
  min-width: 1275px;
}

#footer .container {
  text-align: center;
  padding-top: 15px;
}

.glavatar {
  width:35px;
  border-radius:100px;  
  margin: 7px 0px;
}

.username {
  color: #ffffff;
  margin: 14px;
  font-size: 16px;
}

.nav.navbar-nav .logout-icon{
  padding: 15px 0;
  z-index: 2;
}

.nav.navbar-nav .logout-icon-pink{
  padding: 15px 0;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
}

.nav.navbar-nav a {
  padding: 0;
}

.nav.navbar-nav .logout-icon:hover img{
  filter: alpha(opacity=0);
  -webkit-filter:opacity(0%); /** Chrome**/
  -moz-opacity:0;  /** FF **/
  -khtml-opacity: 0; /* Safari 1.x */
  opacity:0;
}

/**-----------------------------------------
  table sorter
-------------------------------------------- **/
.tablesorter-default .tablesorter-filter {
  margin: -5px;
}

.tablesorter-default {
  font: 15px/18px Arial, Sans-serif;
}

.tablesorter-default thead .tablesorter-headerAsc {
  border-bottom: #428bca 2px solid;
}

.tablesorter-default thead .tablesorter-headerDesc {
  border-bottom: #428bca 2px solid;
}

.tablesorter .tablesorter-filter.disabled {
  display:none;
}
