.login_container {
    margin-top: 65px;
}

.gladiator_message {
    color: #ffffff;
    background-color: #545252;
    padding-left: 65px;
    
}
.gladiator_message ul.aaa li {
    margin: -1em 0 0 3em;
    padding: 0;
}

.login_area {
    background-color: #545252;
    padding-left: 300px;
    padding-right: 100px;
    text-align: right;
}

.btn.btn-success.btn-lg.btn-block {
    margin-top: 30px;
    padding: 0;
}
