.routing-information {
  background-color: #F8D1D1;
}

.routing-nodes {
  background-color: #FFA8A8;
  margin-top: 20px;
  border-style: solid;
  border-width: 10px;
  border-color: #F8D1D1;
}

.routing-nodes-list {
  margin-left: 30px;
}

.routing-options {
  background-color: #FFA8A8;
  margin-top: 20px;
  border-style: solid;
  border-width: 10px;
  border-color: #F8D1D1;
}

.routing-options-list {
  margin-left: 30px;
}

li.list-group-item {
  padding: 5px;
}

li.list-striped {
  background-color: #F8D1D1;
}

.repetition-error-message {
  margin-left: 15px;
  list-style:none;
  color: red;
}

.download-button {
  margin-top: 10px;
  margin-bottom: 10px;
}

.download-dump {
  background-color: #5BE75B;
  border-style: none;
}

.routing-history {
  background-color: #F8D1D1;
  position: relative;
  top: 20px;
}

.routing-history-glaph {
  margin-bottom: 15px;
}

.history-glaph-title th{
  background-color: #cccccc;
}

.noevent {
  background-color: #838181;
}
