<div class="main-contents-name">Log</div>

<a href="show_logs" type="button" class="btn btn-info" id="logs-button">
  <%= image_tag "ajax-loader.gif", :class=>"access-loader" %>
  <span id="log-button-msg">Get Logs</span>
</a>
